# Kafka configuration
QUARKUS_KAFKA_STREAMS_BOOTSTRAP_SERVERS=broker:29092
QUARKUS_KAFKA_STREAMS_APPLICATION_ID={{ MACHINE_ID_CAPS }}_ALERTS
QUARKUS_KAFKA_STREAMS_TOPICS={{ MACHINE_ID }}_data,{{ MACHINE_ID }}_alerts,{{ MACHINE_ID }}_limits,{{ MACHINE_ID }}_datakv

# Quarkus configuration
QUARKUS_MANAGEMENT_PORT=44444

# Application
MACHINE_ID={{ MACHINE_ID }}
MACHINE_DATA_TOPIC={{ MACHINE_ID }}_data
MACHINE_DATAKV_TOPIC={{ MACHINE_ID }}_datakv
MACHINE_ALERTS_TOPIC={{ MACHINE_ID }}_alerts
MACHINE_LIMITS_TOPIC={{ MACHINE_ID }}_limits
TZ="Asia/Kolkata"