# Must change
REPLICAS={{ NUM_PARAMETERS }}
# May change - Quarkus
QUARKUS_KAFKA_STREAMS_APPLICATION_ID={{ MACHINE_ID_CAPS }}_ALERTS
QUARKUS_KAFKA_STREAMS_CLIENT_ID={{ MACHINE_ID }}_ALERTS
QUARKUS_KAFKA_STREAMS_TOPICS={{ MACHINE_ID }}_data,{{ MACHINE_ID }}_alerts,{{ MACHINE_ID }}_limits,{{ MACHINE_ID }}_datakv
