QUARKUS_KAFKA_STREAMS_BOOTSTRAP_SERVERS=broker:29092
QUARKUS_MANAGEMENT_PORT=44444
MACHINE_ID={{ MACHINE_ID }}
MACHINE_ALARMS_TOPIC={{ MACHINE_ID }}_alarms
MACHINE_ALARMSIN_TOPIC={{ MACHINE_ID }}_alarmsin
QUARKUS_KAFKA_STREAMS_APPLICATION_ID={{ MACHINE_ID_CAPS }}_ALERTS
QUARKUS_KAFKA_STREAMS_CLIENT_ID={{ MACHINE_ID }}_ALERTS
QUARKUS_KAFKA_STREAMS_TOPICS={{ MACHINE_ID }}_data,{{ MACHINE_ID }}_alerts,{{ MACHINE_ID }}_limits,{{ MACHINE_ID }}_datakv
TZ="Asia/Kolkata" 