# May change
COMPOSE_PROJECT_NAME=mitra-{{ MACHINE_ID }}
# Do not change !
CONTAINER_REGISTRY=ghcr.io
CONTAINER_REPOSITORY=nsubrahm
# Do not change !
#KAFKA_TOOLS_TAG=
#QUERIES_TAG=
#ANOMALY_TAG=
#ALARMS_TAG=
#ALERTS_TAG=
#MERGER_TAG=
#STREAMER_TAG=
#PAYLOAD_TAG=
#LIMITS_TAG=
#DASHBOARD_TAG=