# May change
COMPOSE_PROJECT_NAME=mitra-{{ MACHINE_ID }}-apps
# Do not change !
CONTAINER_REGISTRY=ghcr.io
CONTAINER_REPOSITORY=nsubrahm
# Do not change !
#ALERTS_TAG=
#ALARMS_TAG=
#STREAMER_TAG=
#PERSISTD_TAG=
#PERSISTR_TAG=
#PERSISTM_TAG=