# May change
COMPOSE_PROJECT_NAME=mitra-base
# Do not change !
CONTAINER_REGISTRY=ghcr.io
CONTAINER_REPOSITORY=nsubrahm
# Do not change !
#CONFIGS_TAG=
#HTTP_INPUTS_TAG=
#MQTT_INPUTS_TAG=
EVENTS_TAG=v1.0.0