# Application
MACHINE_ID={{ MACHINE_ID }}
MACHINE_DATA_TOPIC={{ MACHINE_ID }}_data
MACHINE_DATAKV_TOPIC={{ MACHINE_ID }}_datakv
MACHINE_ALARMS_TOPIC={{ MACHINE_ID }}_alarms
MACHINE_LIMITS_TOPIC={{ MACHINE_ID }}_limits
MACHINE_ALERTS_TOPIC={{ MACHINE_ID }}_alerts
MACHINE_EVENTS_TOPIC={{ MACHINE_ID }}_events
# Quarkus, Kafka
QUARKUS_KAFKA_STREAMS_BOOTSTRAP_SERVERS=broker:9092
# KSQL
KSQLDB_HOST=ksqldb:8088
# NodeJs
KAFKA_BROKER=broker:9092
# General
TZ="Asia/Kolkata"