# Application
MACHINE_ID={{ MACHINE_ID }}
MACHINE_DATA_TOPIC={{ MACHINE_ID }}_data
MACHINE_DATAKV_TOPIC={{ MACHINE_ID }}_datakv
MACHINE_ALARMS_TOPIC={{ MACHINE_ID }}_alarms
MACHINE_ALARMSIN_TOPIC={{ MACHINE_ID }}_alarmsin
MACHINE_LIMITS_TOPIC={{ MACHINE_ID }}_limits
MACHINE_ALERTS_TOPIC={{ MACHINE_ID }}_alerts
MACHINE_EVENTS_TOPIC={{ MACHINE_ID }}_events
# Quarkus, Kafka
QUARKUS_KAFKA_STREAMS_BOOTSTRAP_SERVERS=broker-1:29092,broker-2:29092,broker-3:29092
QUARKUS_MANAGEMENT_PORT=44444
QUARKUS_HTTP_PORT=8080
QUARKUS_HTTP_CORS=true
QUARKUS_HTTP_CORS_ORIGINS=gateway
# ksqlDB
KSQLDB_HOST=ksqldb:8088
# NodeJs
KAFKA_BROKER=broker-1:29092,broker-2:29092,broker-3:29092
# General
TZ="Asia/Kolkata"