MACHINES_MASTER_TOPIC=machines_master
KAFKA_CLIENT_ID_PFX=configs
KAFKA_BOOTSTRAP_SERVERS=broker:29092
KSQLDB_HOST=ksqldb
KSQLDB_PORT=8088
QUARKUS_MANAGEMENT_PORT=44444
APP_ID=MACHINE_CONFIGS
GROUP_ID=MACHINE_CONFIGS