# May change
COMPOSE_PROJECT_NAME=mitra-{{ MACHINE_ID }}-db
# Do not change !
CONTAINER_REGISTRY=ghcr.io
CONTAINER_REPOSITORY=nsubrahm
# May change
REPLICAS={{ NUM_PARAMETERS }}
# Do not change !
#PERSISTD_TAG=
#PERSISTR_TAG=
#PERSISTM_TAG=