# Do not change!
KSQL_LISTENERS=http://0.0.0.0:8088
KSQL_CONFIG_DIR=/etc/ksqldb
KSQL_BOOTSTRAP_SERVERS=PLAINTEXT://broker:29092
KSQL_KSQL_SERVICE_ID=ksql-cluster
KSQL_KSQL_LOGGING_PROCESSING_STREAM_AUTO_CREATE=true
KSQL_KSQL_LOGGING_PROCESSING_TOPIC_AUTO_CREATE=true
KSQL_KSQL_STREAMS_REPLICATION_FACTOR=1
KSQL_KSQL_STREAMS_NUM_STREAM_THREADS=10
KSQL_KSQL_INTERNAL_TOPIC_REPLICAS=1
KSQL_KSQL_SINK_REPLICAS=1
KSQL_KSQL_QUERY_PULL_METRICS_ENABLED=true
KSQL_KSQL_LOGGING_PROCESSING_TOPIC_REPLICATION_FACTOR=1
KSQL_KSQL_LOGGING_PROCESSING_TOPIC_PARTITIONS=3
JAVA_OPTS="-XX:+UseG1GC"