# Basic configuration
KSQL_LISTENERS=http://0.0.0.0:8088
KSQL_CONFIG_DIR=/etc/ksqldb
KSQL_BOOTSTRAP_SERVERS=PLAINTEXT://broker:29092
KSQL_SERVICE_ID=ksql-cluster
KSQL_LOGGING_PROCESSING_STREAM_AUTO_CREATE=true
KSQL_LOGGING_PROCESSING_TOPIC_AUTO_CREATE=true

# Stream Processing Configuration
KSQL_STREAMS_NUM_STREAM_THREADS=2
KSQL_STREAMS_REPLICATION_FACTOR=1
KSQL_INTERNAL_TOPIC_REPLICAS=1
KSQL_SINK_REPLICAS=1
KSQL_LOGGING_PROCESSING_TOPIC_REPLICATION_FACTOR=1
KSQL_LOGGING_PROCESSING_TOPIC_PARTITIONS=3

# Conservative memory allocation
KSQL_HEAP_OPTS="-Xms768M -Xmx768M"

# Do not publish metrics.
KSQL_CONFLUENT_SUPPORT_METRICS_ENABLE=false