# Must change
MACHINE_LIMITS_TOPIC={{ MACHINE_ID }}_limits
# May change
GRACE_TIME=10000
# Do not change
APP_ID={{ MACHINE_ID_CAPS }}_LIMITS
GROUP_ID={{ MACHINE_ID_CAPS }}_LIMITS
PORT=8080
FREQUENCY=5000
INITIAL_DELAY=10000