# May change
COMPOSE_PROJECT_NAME=mitra-base
# Do not change !
CONTAINER_REGISTRY=ghcr.io
CONTAINER_REPOSITORY=nsubrahm
# Do not change !
PARTITION_COUNT={{ NUM_MACHINES }}
REPLICATION_FACTOR=1
SCRIPT_NAME=master.sh