# Application
MACHINE_ID={{ MACHINE_ID }}
MACHINE_DATA_TOPIC={{ MACHINE_ID }}_data
MACHINE_DATAKV_TOPIC={{ MACHINE_ID }}_datakv
MACHINE_ALARMS_TOPIC={{ MACHINE_ID }}_alarms
MACHINE_ALARMSIN_TOPIC={{ MACHINE_ID }}_alarmsin
MACHINE_LIMITS_TOPIC={{ MACHINE_ID }}_limits
MACHINE_ALERTS_TOPIC={{ MACHINE_ID }}_alerts
MACHINE_EVENTS_TOPIC={{ MACHINE_ID }}_events
