# Must change
MACHINE_DATA_TOPIC={{ MACHINE_ID }}_data
# May change
GRACE_TIME=10000
# Do not change
APP_ID={{ MACHINE_ID_CAPS }}_DATA
HOST=0.0.0.0
PORT=8084
HEALTHCHECK_HOST=localhost
HEALTHCHECK_PORT=9000
FREQUENCY=5000
INITIAL_DELAY=3000