# Kafka configuration
KAFKA_BOOTSTRAP_SERVERS=broker:29092

# Quarkus data source configuration
QUARKUS_DATASOURCE_REACTIVE_URL=mysql://mysql:3306/MAINTENANCE_MITRA
QUARKUS_DATASOURCE_REACTIVE_RECONNECT_ATTEMPTS=5

# Application
MACHINE_ALARMS_TABLE_NAME=MAINTENANCE_MITRA.{{ MACHINE_ID_CAPS }}_ALERTS
TZ="Asia/Kolkata"