DB_HOST=bouncer
DB_PORT=5432
DB_NAME=mitra
DB_USER={{ MACHINE_ID }}
SCHEMA_NAME={{ SCHEMA_NAME }}

# Application
MACHINE_ID={{ MACHINE_ID }}
SHIFT_START_HOUR=8
SHIFT_DURATION_HOURS=8,8,8
TZ="Asia/Kolkata"