# Database
TSDB_HOST=bouncer
TSDB_PORT=5432
TSDB_DB=mitra
SHIFT_SUMMARY_SCHEMA={{ SCHEMA_NAME }}
SHIFT_SUMMARY_TABLE={{ MACHINE_ID }}_shift_analytics

# Application
MACHINE_ID={{ MACHINE_ID }}
TZ="Asia/Kolkata"

# Quarkus
QUARKUS_MANAGEMENT_PORT=44444
QUARKUS_DATASOURCE_REACTIVE_RECONNECT_ATTEMPTS=5