# Kafka configuration
QUARKUS_KAFKA_STREAMS_BOOTSTRAP_SERVERS=broker:29092
QUARKUS_KAFKA_STREAMS_TOPICS={{ MACHINE_ID }}_datakv,{{ MACHINE_ID }}_alerts,{{ MACHINE_ID }}_alarms,{{ MACHINE_ID }}_events
QUARKUS_KAFKA_STREAMS_APPLICATION_ID={{ MACHINE_ID_CAPS }}_COLLECTOR
KAFKA_BOOTSTRAP_SERVERS=broker:29092

# Quarkus configuration
QUARKUS_MANAGEMENT_PORT=44444

# SSE configuration
QUARKUS_HTTP_PORT=8080

# Application
MACHINE_ID={{ MACHINE_ID }}
MACHINE_DATAKV_TOPIC={{ MACHINE_ID }}_datakv
MACHINE_ALARMS_TOPIC={{ MACHINE_ID }}_alarms
MACHINE_ALERTS_TOPIC={{ MACHINE_ID }}_alerts
MACHINE_EVENTS_TOPIC={{ MACHINE_ID }}_events
WINDOW_SIZE_MS=5
TZ="Asia/Kolkata" 