# Kafka configuration
KAFKA_BOOTSTRAP_SERVERS=broker:29092

# HTTP configuration
QUARKUS_HTTP_PORT=8080
QUARKUS_MANAGEMENT_PORT=44444

# Application
MACHINE_ID={{ MACHINE_ID }}
MACHINE_DATA_TOPIC={{ MACHINE_ID }}_data
MACHINE_ALARMSIN_TOPIC={{ MACHINE_ID }}_alarmsin
PRODUCER_THREAD_COUNT=5
MAX_QUEUE_SIZE=80
MAX_FAILURE_COUNT=5
GRACE_TIME=5000
TZ="Asia/Kolkata" 