# Kafka configuration
KAFKA_BOOTSTRAP_SERVERS=broker:29092

# Database
TSDB_HOST=bouncer
TSDB_PORT=5432
TSDB_DB=mitra
CONDITION_TABLE_SCHEMA={{ SCHEMA_NAME }}
CONDITION_TABLE_NAME={{ MACHINE_ID }}_condition

# Application
MACHINE_ID={{ MACHINE_ID }}
TZ="Asia/Kolkata"

# Quarkus
QUARKUS_MANAGEMENT_PORT=44444
QUARKUS_DATASOURCE_REACTIVE_RECONNECT_ATTEMPTS=5